/* * {
    background-color: blue;
} */

/* dőlt */
#p1 {
    font-style: italic;
} 

/* feltűnő */
#p2 {
    font-weight: bold; 
}

#p3 {
    color: red;
}

/* serif, sans-serif, cursive, monospace, fantasy */
#p4 {
    font-family: 'Courier New', Courier, monospace;
}

#p5 {
    font-family: cursive;
}

#p6 {
    font-family: 'Times New Roman', serif;
}

#p7 {
    font-family: fantasy;
}

#p8 {
    font-family: Tangerine;
}

/* betűváltozat: kiskapitális */
#p9 {
    font-variant: small-caps;
}

#p10 {
    font-size: 20px;
}

body {
    font-size: 10px;
}

#p11 {
    font-size: 200%;
}

/* 40%= 0.4 */
/* em = szülőhöz képest (nyomatékos egység = emphemeral1 unit) */
#p12 {
    font-size: 1.7em;
    /* font-size: 170% */
    background-color: bisque;
}

/* 16px = 100% = 1em */
/* rem = root(gyökérhez képest) */
#p13 {
    font-size: 2.5rem;
}

/* viewport width */
#p14 {
    font-size: 6vw;
}

#p15 {
    color: red;
    letter-spacing: 6px;
}

#p16 {
    color: blue;
    letter-spacing: -0.8px;
}
/* shorthand */
#p17 {
    /* font-weight: bold;
    font-variant: small-caps;
    font-size: 20px;
    font-family: fantasy; */
    font: bold small-caps 20px fantasy;
}

#p18 {
    word-spacing: 15px;
}

