.hasab {
    float: left;
}


footer {


}

body {
    width: 960px;
    margin: auto;
    background-color: #d2691e;
}

h1 {
    /* text-decoration: underline 2px solid #a52a2a; */
    border-bottom: 2px solid #a52a2a;
}

li {
    display: inline-block;
    min-width: 50px;
    border-right: 2px solid #a52a2a;
}

li:last-child {
    border-right: none;
}