body {
    width: 90%;
    margin: auto;
}

img {
    float: right;
    margin-left: 24px;
    margin-bottom: 24px;
    width: 20em;
}

#clearfix {
    clear: right;
}

table, td, th {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

html {
    background-color: rgba(100, 0, 0, 10%);
}

p {
    text-align: justify;
}

h1 {
    font-variant: small-caps;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 1px 2px pink;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: Comic Sans MS, Brush Script MT;
    word-spacing: 10px;
    text-decoration-line: underline;
    text-decoration: 2px wavy underline yellow;
    background-color: #00A54575;
    border: 2px solid black;
    color: white;
}

table {
    width: 80%;
    background-color: white;
}

a {
    text-decoration: none;
    color: blue;
    line-height: 2em;
}

table span {
    color: red;
    font-weight: bold;
}

p .kiemelt {
    text-decoration: 2px underline;
    text-decoration-style: double;
    text-decoration-color: rgba(125, 56, 125, 40%);
}

#byron {
    background-color: azure;
}

td, th {
    padding: 20px;
}

td:first-child {
    text-align: center;
    word-spacing: 2px;
}

body>p:first-of-type {
    font-style: italic;
}