#piros {
    background-color: red;
}

span {
    background-color: yellow;
    display: block;
}

a:first-of-type {
    background-color: green;
    /* height: 100px; */
}

#doboz {
    text-align: center;
    background-color: orange;
    width: 40%;
    height: 100px;
    padding: 40px;
    border: 5px solid black;
    margin: 20px;
}

.doboz {
    border: 1px solid black;
}

#div1 {
    margin: 10px;
}

#div2 {
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 75px;
    margin-left: 100px;
}

#div3 {
    margin: 25px 50px 75px 100px;
}
/* ugyanannyi oldalanként, pl.: 2*25;2*50 */
#div4 {
    margin: 25px 50px;
}

#div5 {
    margin: 100px 50px 25px;
}

/* margó középre igazítja */
#div6 {
    width: 80%;
    margin: 10px 10%;
}

#div7 {
    width: 400px;
    margin: 10px calc((100%-400px)/2)
}

#div8 {
    width: 80%;
    margin: auto;
}

#div9 {
    /* konstans/változó */
    --maci: 400px;
    /* variable */
    width: var(--maci);
    margin: 10px calc((100% - var(--maci))/2);
}

.utso~div {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}

#div10 {
    border-style: dotted;
    border-width: 5px;
    border-color: hotpink;
}

#div11 {
    border: 4px solid brown;
    border-radius: 10px;
}

#div12 {
    border-top: 1px dotted blue;
    border-right: 2px solid red;
    border-bottom: 5px dashed rgb(200, 200, 0);
    border-left: none;
}

#div13 {
    box-shadow: 10px 5px 3px green;
}

#div14 {
    width: calc(80% - 18px);
    border: 10px solid blue;
    box-sizing: content-box;
}

#div15 {
    width: calc(80% + 42px);
    border: 10px solid purple;
    box-sizing: border-box;
}

#div25 {
    background-color: lawngreen;
    width: 70%;
    border: 10px solid red;
    /* ezzel együtt 70% */
    box-sizing: border-box;
}