body {
    background-color: rgb(177, 199, 223);
}

a:hover, a:visited, a:active, a:link {
    color: #666584;
}

.container {
    width: 650px;
    margin: auto;
    background-color: #5C6B7B;
}

.container>.container {
    width: 600px;
    margin: auto; /* alapból be van állítva, tehát ez felesleges */
    background-color: white;
}

.col {
    padding: 0px;
}

.menu {
    background-color: #CDDBEB;
    height: 35px;
    text-align: center;
    align-items: center;  /* align-items;justify-content: flexboxból ezek kellenek csak*/
}

h1 {
    font-weight: bold;
}

#forras {
    font-size: 0.75em;
}

#bush {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

#memex {
    display: block;
    margin: 5px auto;
}